.world{
    margin:2rem auto;
}
.world__heading{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin:0.4rem 0 0.5rem 0.8rem;
}

.world__heading > h3{
    color:#f5f5f5;
    position: relative;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: capitalize;
}
.world__heading > h3::before{
    position: absolute;
    content: "";
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
    width:110%;
    height:3px;
    transform-origin: left center;
    left:0%;
    bottom:-6px;
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform:scaleX(0);
    opacity: 0;
}
.world__heading > h3:hover::before{
    opacity: 1;
    transform:scaleX(1);
}
.world__heading .MuiSvgIcon-root{
    color:#f5f5f5;
    font-size:2rem;
    margin-left:0.4rem;
}
.world__card{
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-gap: 2rem;
}



// Resonsive

@media screen and (max-width:768px) {
    .world__card{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    
}
@media screen and (max-width:500px) {

    .world__heading > h3{
        font-size:1.5rem;
    }
    .world__heading .MuiSvgIcon-root{
        font-size:1.5rem;
    }
}
@media screen and (max-width:300px) {

    .world__heading > h3{
        font-size:1rem;
    }
    .world__heading .MuiSvgIcon-root{
        font-size:1rem;
    }
}
